@font-face{
    font-family: fatFont;
    src: url("../lib/fonts/overmch.ttf");
}


html, body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #628395;
    font-family: Candara;
}



/******* INTRO PAGE ********/

#intro-section{
    width: 100%;
    position: relative;
    background-color: #628395;
}

#intro-box{
    width: 800px;
    height: auto;
    padding-bottom: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #555;
    border-radius: 22px;
}

#intro-title{
    width: 96%;
    height: auto;
    position: relative;
    font-family: fatFont;
    font-size: 33px;
    color: #eee;
    text-align: center;
    padding: 20px 2% 10px 2%;
    letter-spacing: 2px;
}

#intro-text{
    width: 95%;
    height: auto;
    position: relative;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 14px 2.5%;
}

#intro-img{
    width: 100%;
    position: relative;
    height: 280px;
    background-image: url("../img/intro.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#continue-button{
    width: 200px;
    height: auto;
    padding: 16px 0;
    color: white;
    font-size: 24px;
    font-weight: bold;
    background-color: #333;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translate(-100px, 0);
}

#continue-button:active{
    background-color: #FFB972;
    color: #333;
}



/******* MAIN PAGE ********/

#main-section{
    margin: 0;
    padding: 0;
    position: relative;
}

.zoom-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #2A2A2A;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

#zoomIn-button:hover, #zoomOut-button:hover {
    background-color: #555555;
}

#zoomOut-button {
    margin-right: 8px;
}

#zoom-info {
    display: inline-block;
    padding: 6px;
}

#btn-holder {
    position: absolute;
    left: 12px; bottom: 20px;
}

/*Detail window scrollable*/
#scrollable {
    width: 100%;
    height: 100%;
    position: center;
    overflow: hidden;
}

#scrollable .content {
    position: relative;
    width: 100%;
    background-color: #555;
    color: white;
    padding-top: 22px;
}
.scroll-button{
    position: absolute;
    right: 0; bottom: 0;
    border: none;
    padding: 12px 0;
    width: 100%;
    background-color: #333;
    font-size: 14px;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
}

#testpieV5 {
    position: relative;
    margin-left: 26%;
}
#percOfCountry{
    color: #FFB972;
}

/*Layout with two column*/
.column {
    float: left;
}

.left {
    width: 73%;
}

.right {
    width: 27%;
}


#map{
    position: center;
    width: 100%;
    height: 100vh;
    border: none;
    padding: 0;
}

/* right column and content */
.country-title{
    width: 100%;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    color: white;
    padding: 8px 0 4px 0;
    margin-bottom: 0px;
}

.filter-section{
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: 18px;
    display: none;
}
.filter-section:nth-child(3){
    margin-bottom: 30px;
}

.center{
    width: auto;
    height: auto;
    display: inline-block;
    position: relative;
    margin: auto;
}


select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    padding-left: 10px;
    background-color: #777;
    color: white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
}
select::-ms-expand {
    display: none;
}
select option{
    color: white;
    cursor: pointer;
}
select:focus::-ms-value{
    background-color: transparent;
}
.select-wrapper{
    position: relative;
}
.select-wrapper::before{
    content: "\25bc";
    font-size: 12px;
    position: absolute;
    right: 15px;
    top: 10px;
    color: #fff;
    pointer-events: none;
}
select option:hover{
    background-color: white;
}

.statistic-title{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 30px 0 18px 0;
    position: relative;
}

.statistic-section{
    width: 100%;
    min-height: 20px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

.death-icon {
    width: 80px;
    float: left;
}

.deathsText {
    font-size: 50px;
    color: #FFB972;
    margin-top: 25px;
    float: left;
}

.calories {
    width: 100px;
    float: left;
    margin-right: 30px;
}

.caloriesText {
    font-size: 50px;
    color: #FFB972;
    padding-left: 100px;
    margin-top: 25px;
    float: left;
}


/* Residents */
.population-section{
    position: relative;
    float: left;
    width: 90%;
    padding: 10px 5%;
    text-align: center;
    font-size: 17px;
    margin-bottom: 30px;
    color: #eee;
}

.population-section img{
    width: 19px;
    padding: 0;
    margin-bottom: -5px;
}




/* CHARTS in general */
.axis {
    font: 11px sans-serif;
}

.axis path, .axis line {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
}
.chart-label{
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.axis path,
.axis line {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
}
.x.axis {font-size: 12px;  }
.y.axis {font-size: 12px; }
.label{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
