html, body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: lightslategray;
}
.zoom-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #2A2A2A;
    font-family: Candara;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

#zoomIn-button:hover, #zoomOut-button:hover {
    background-color: #555555;
}

#zoomOut-button {
    margin-right: 8px;
}

#zoom-info {
    display: inline-block;
    padding: 6px;
    font-family: Candara;
}

#btn-holder {
    position: absolute;
    left: 12px; bottom: 20px;
}

/*Detail window scrollable*/
#scrollable {
    width: 100%;
    height: 100%;
    position: center;
    overflow: hidden;
}
/* only for testing */
#scrollable .content {
    position: relative;
    width: 100%;
    background-color: #555;
    color: white;
    padding-top: 22px;
}
.scroll-button{
    position: absolute;
    right: 0; bottom: 0px;
    border: none;
    padding: 12px 0;
    width: 100%;
    background-color: #333;
    font-size: 14px;
    font-family: Candara;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
}

#testpieV5 {
    position: relative;
    margin-left: 26%;
}
#percOfCountry{
    color: #FFB972;
}
#percOfDeaths {
    font-family: Candara;
    font-size: 50px;
}

/*Layout with two column*/
.column {
    float: left;
}

.left {
    width: 73%;
}

.right {
    width: 27%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.row {
    padding: 0;
    margin: 0;
}

#map{
    position: center;
    width: 100%;
    height: 100vh;
    border: none;
    padding: 0;
}

/* right column and content */
.country-title{
    width: 100%;
    font-family: Candara;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    color: white;
    padding: 8px 0 4px 0;
    margin-bottom: 0px;
}

.filter-section{
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: 18px;
    display: none;
}
.filter-section:nth-child(3){
    margin-bottom: 30px;
}

.center{
    width: auto;
    height: auto;
    display: inline-block;
    position: relative;
    margin: auto;
}

.filter-gender-button{
    height: 44px;
    width: 44px;
    background-color: #777;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    border-radius: 8px;
}
.filter-gender-button:last-child{
    margin: 0;
}

.filter-gender-icon{
    width: 100%;
}

.dropdown{
    width: 200px;
    height: 30px;
    font-size: 17px;
    font-family: Candara;
    font-weight: normal;
}

select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    padding-left: 10px;
    background-color: #777;
    color: white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
}
select::-ms-expand {
    display: none;
}
select option{
    color: white;
    cursor: pointer;
}
select:focus::-ms-value{
    background-color: transparent;
}
.select-wrapper{
    position: relative;
}
.select-wrapper::before{
    content: "\25bc";
    font-size: 12px;
    position: absolute;
    right: 15px;
    top: 10px;
    color: #fff;
    pointer-events: none;
}
select option:hover{
    background-color: white;
}

.statistic-title{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: Candara;
    margin: 30px 0 18px 0;
    position: relative;
}

.statistic-section{
    width: 100%;
    min-height: 20px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
    font-family: Candara;
}

.coffin {
    width: 100px;
    float: left;
    margin-right: 30px;
}

.deathsText {
    font-family: Candara;
    color: #FFB972;
    margin-left: 30px;
    margin-top: 25px;
    float: right
}


/* Residents */
.population-section{
    position: relative;
    float: left;
    width: 90%;
    padding: 10px 5%;
    text-align: center;
    font-family: Calibri;
    font-size: 17px;
    margin-bottom: 30px;
    color: #eee;
}

.population-section img{
    width: 19px;
    padding: 0;
    margin-bottom: -5px;
}




/* CHARTS */
.axis {
    font: 11px sans-serif;
}

.axis path, .axis line {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
}
/*svg text {
    fill: white;
}*/
.chart-label{
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.axis path,
.axis line {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
}
.x.axis {font-size: 12px;  }
.y.axis {font-size: 12px; }
.label{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
